.sidebar {
    width: 250px;
    position: fixed;
    top: 50px;
    bottom: 0;
    text-align: left;
    margin-left: 10px;

}

td:hover {
    cursor: pointer;
    background-color: cornsilk;
    font-weight: bolder;
    color: crimson;
}